#container{
    display: grid;
    grid-template-areas: 
        "header header"
        "sidebar photos";
}

header{
    /*background-color: aqua;*/
    grid-area: header;
}

#sidebar{
    /*background-color: lightblue;*/
    grid-area: sidebar;
}
#photo-container{
   /*background-color: lightgreen;*/
   grid-area: photos;
}

@media (max-width: 623px) {
    #container{
        grid-template-areas: 
            "header"
            "sidebar"
            "photos";
    }
    
}